# Standard Ignores
node_modules/
*.log
my_log.txt
.env
.DS_Store
*.asv

# Ignore other's repos
Common/Helpers/clarissa_matlab_basic_functions/
Common/Libraries/**

# Ignore data files (large)
Data/**
# temporary continue to ignore the projects data
Projects/*/Data

# Ignore the junk drawer
to_be_organized/

